@use '_variables' as *;
@use '_mixins' as *;

.about-me {
  padding-top: 76px;
  background-color: $white;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px -19px 18.6px 0px rgba(0, 0, 0, 0.05);

  &__container {
    display: flex;
    gap: 20px;
  }
  &__left {
    padding: 40px 32px 40px 40px;
    background-color: $gram-s-hair;
    border-radius: 15px;
  }
  &__title {
    margin-bottom: 30px;
    max-width: 406px;
    span {
      color: $qing-dynasty-dragon;
    }
  }
  &__descr {
    margin-bottom: 20px;
    max-width: 491px;
    @include text-style(16px, 20px, 400, $black);
  }
  &__descr:last-child {
    margin-bottom: 0;
  }
  &__right-img {
    max-width: 397px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  &__subtitle {
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    span {
      color: $qing-dynasty-dragon;
    }
  }
  &__slider-container {
    position: relative;
    z-index: 0;
  }
  &__slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &__swiper-wrapper {
    display: flex;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    @media (min-width: 1024px) {
      &:hover {
        opacity: 0.5;
      }
    }
    &:active {
      opacity: 0.5;
    }
    &:focus-visible {
      opacity: 0.5;
      outline: none;
    }
  }
  &__slide img {
    max-height: 230px;
  }
  &__button-prev {
    left: -50px !important;
  }
  &__button-next {
    right: -50px !important;
  }
  &__button-prev svg,
  &__button-next svg {
    width: 13px;
    height: 25px;
    color: $qing-dynasty-dragon !important;
  }
}

@media (max-width: 1279px) {
  .about-me {
    padding-top: 59px;
    &__left {
      padding: 20px 32px 20px 20px;
    }
    &__title {
      max-width: 396px;
      margin-bottom: 20px;
    }
    &__descr {
      max-width: 396px;
      margin-bottom: 23px;
      font-size: 14px;
      line-height: 18px;
    }
    &__subtitle {
      margin-left: 19px;
      margin-top: 35px;
    }
    &__right-img {
      max-width: 216px;
    }
    &__button-prev, &__button-next {
      top: 36% !important;
    }
    &__button-prev svg, &__button-next svg {
      width: 7px;
      height: 12px;
    }
  }
}

@media (max-width: 767px) {
  .about-me {
    padding-top: 20px;
    &__left {
      max-width: 280px;
      padding: 20px;
    }
    &__title {
      max-width: max-content;
    }
    &__descr {
      max-width: max-content;
    }
    &__right-img {
      max-width: max-content;
    }
  }
}

@media (max-width: 520px) {
  .about-me {
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__left {
      max-width: 397px;
    }
  }
}
