@use '_variables' as *;
@use '_mixins' as *;

.cases-modal {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  &__content {
    margin: 10% auto;
    padding: 40px;
    width: 100%;
    max-width: 814px;
    position: relative;

    background-color: $white;
    border-radius: 10px;
    border: 1px solid #888;

    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
  }
  &__close {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -16px;
    right: -22px;
    z-index: 1;

    font-size: 30px;
    color: $qing-dynasty-dragon;

    background-color: $white;
    border: 2px solid $qing-dynasty-dragon;
    border-radius: 50%;

    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    @media (min-width: 1024px) {
      &:hover {
        background-color: $qing-dynasty-dragon;
        color: $white;
      }
    }
    &:active {
      background-color: $qing-dynasty-dragon;
      color: $white;
    }
    &:focus-visible {
      background-color: $qing-dynasty-dragon;
      color: $white;
      outline: none;
    }
  }
  &__top-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__span {
    position: static;
  }
  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  &__descr {
    margin-bottom: 20px;
    text-align: center;
  }
  &__slider-container {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 0;
  }
  &__slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &__swiper-wrapper {
    display: flex;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    @media (min-width: 1024px) {
      &:hover {
        opacity: 0.5;
      }
    }
    &:active {
      opacity: 0.5;
    }
    &:focus-visible {
      opacity: 0.5;
      outline: none;
    }
  }
  &__pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  &__descr--full {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__link-container {
    display: flex;
    justify-content: center;
  }
  &__link {
    padding: 10px 82px;
    @include text-style(16px, 22px, 400, $white);
  }
}

.cases-modal--active {
  visibility: visible;
  opacity: 1;
}

.cases-modal--active .cases-modal__content {
  transform: translateY(0);
}


@media (max-width: 1279px) {
  .cases-modal {
    &__content {
      max-width: 570px;
    }
    &__link {
      padding: 5px 79px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

@media (max-width: 767px) {
  .cases-modal {
    &__content {
      padding: 20px;
      max-width: 280px;
    }
    &__slider-container {
      padding-left: 0;
      padding-right: 0;
    }
    &__button-prev, &__button-next {
      display: none;
    }
    &__link {
      width: 100%;
      padding: 5px 30px;
      text-align: center;
    }
  }
}