@use '_variables' as *;
@use '_mixins' as *;

.creation-website {
  margin-top: -10px;
  padding-top: 65px;
  border-radius: 15px 15px 0 0;
  background-color: $gram-s-hair;
  box-shadow: 0px -19px 18.6px 0px rgba(0, 0, 0, 0.05);
  &__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
  &__left {
    position: relative;
    max-width: 378px;
    flex-shrink: 0;
  }
  &__right {
    flex-grow: 1;
  }
  &__left-wrapper {
    margin-top: 45px;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  &__title {
    max-width: 378px;
    margin-bottom: 20px;
    font-family: 'Manrope', sans-serif;
    span {
      color: $qing-dynasty-dragon;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__item {
    max-width: 563px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 30px;
    background-color: $white;
    border: 1px solid $cool-frost;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
  }

  &__item-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item-list {
    max-width: 407px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item-list-item {
    position: relative;
    padding-left: 15px;
    @include text-style(16px, 24px, 400, rgba($black, 0.6));
    transition: color 0.5s ease-in-out;
    &::before {
      content: '•';
      color: $qing-dynasty-dragon;
      font-size: 20px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: color 0.5s ease-in-out;
    }
  }
  &__item-num {
    @include text-style(128px, 90%, 800, $gram-s-hair);
    font-family: 'Manrope', sans-serif;
    transition: color 0.5s ease-in-out;
  }
  &__item-title {
    transition: color 0.5s ease-in-out;
  }
  &__item.active {
    background-color: $qing-dynasty-dragon;
  }
  &__item.active &__item-title,
  &__item.active &__item-list-item,
  &__item.active &__item-num {
    color: $white;
  }
  &__item.active &__item-list-item::before {
    color: $white;
  }
  &__result {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 120px;
    background-image: url('../img/creation-or-refinement-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
  }
  &__result-title {
    max-width: 273px;
    color: $white;
  }
  &__btn-container {
    display: flex;
    align-items: flex-end;
  }
  &__btn {
    padding: 5px 20px;
    @include text-style(16px, 24px, 400, $white);
  }
}

@media (max-width: 1279px) {
  .creation-website {
    padding-top: 29px;
    &__right {
      max-width: 334px;
    }
    &__title {
      max-width: 288px;
    }
    &__list {
      align-items: flex-end;
    }
    &__item {
      width: 100%;
      padding: 20px;
      gap: 10px;
      align-items: flex-end;
    }
    &__item-list {
      max-width: 227px;
    }
    &__item-list-item {
      font-size: 14px;
      line-height: 18px;
    }
    &__result {
      margin-top: 10px;
      padding: 20px;
      flex-direction: column;
    }
    &__item-num {
      font-size: 86px;
    }
  }
}

@media (max-width: 767px) {
  .creation-website {
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__left {
      max-width: max-content;
      width: 100%;
    }
    &__left-wrapper {
      margin-top: 0;
      width: 100%;
      position: static;
      transform: none;
    }
    &__title {
      text-align: center;
      max-width: max-content;
    }
    &__descr {
      text-align: center;
    }
    &__result-title {
      text-align: center;
      max-width: max-content;
    }
    &__btn-container {
      align-items: center;
      justify-content: center;
    }
  }
}
