@use '_variables' as *;
@use '_mixins' as *;

.questions {
  padding-top: 40px;
  padding-bottom: 20px;
  background-image: url('../img/creation-or-refinement-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  &__container {
    background-color: $qing-dynasty-dragon;
    padding: 40px;
    border-radius: 30px;
  }
  &__title {
    color: $white;
    margin-bottom: 20px;
  }
  &__descr {
    color: $white;
    margin-bottom: 25px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }
  &__item {
    width: 100%;
    grid-column: span 3;
  }
  &__item--textarea {
    grid-column: span 8;
  }
  &__input,
  &__textarea {
    width: 100%;
    padding: 10px 20px;
    @include text-style(14px, 18px, 400, $black);
    font-family: 'Raleway', sans-serif;
    border: 1px solid rgba($qing-dynasty-dragon, 0.4);
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;
    &::placeholder {
      font-size: 14px;
      color: rgba($black, 0.6);
      font-family: 'Raleway', sans-serif;
    }
    @media (min-width: 1024px) {
      &:hover {
        opacity: 0.5;
      }
    }
    &:active {
      opacity: 0.5;
    }
    &:focus {
      border-color: $qing-dynasty-dragon;
      outline: none;
      opacity: 1;

      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }
  &__input {
    height: 36px;
  }
  &__textarea {
    resize: none;

  }
  &__form-btn-container {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__form-btn {
    width: 100%;
    height: 39px;
    padding: 5px 10px;
    @include text-style(16px, 20px, 400, $white);
    font-family: 'Raleway', sans-serif;
  }
  &__select {
    width: 100%;
    height: 36px;
    padding: 5px;

    @include text-style(14px, 18px, 400, rgba($black, 0.6));
    font-family: 'Raleway', sans-serif;

    border: 1px solid rgba($qing-dynasty-dragon, 0.4);
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
  }
  &__select:focus {
    border-color: $qing-dynasty-dragon;
    outline: none;
  }
  &__label--checkbox {
    @include text-style(12px, 16px, 400, $white);
  }
}

/* Основные стили для инпутов */
.input-error {
  border: 1px solid red;
}

.input-success {
  border: 1px solid green;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Стиль для лейбла с ошибкой */
.label-error {
  color: red;
}

/* Стиль для контейнера чекбокса */
.checkbox-container {
  display: flex;
  align-items: center;
}

/* Стиль для контейнера при ошибке */
.checkbox-container.error {
  border: 1px solid red;
  padding: 5px;
  border-radius: 4px;
}

/* Стиль для лейбла с ошибкой */
.label-error {
  color: red;
}

@media (max-width: 1279px) {
  .questions {
    &__container {
      padding: 30px;
    }
    &__input, &__textarea {
      font-size: 12px;
      &::placeholder {
        font-size: 12px;
      }
    }
    &__select {
      font-size: 14px;
    }
    &__form-btn {
      font-size: 14px;
      max-width: 286px;
    }
    &__item {
      grid-column: span 6;
    }
    &__item--textarea {
      grid-column: span 12;
    }
    &__form-btn-container {
      grid-column: span 12;
    }
  }
}


@media (max-width: 767px) {
  .questions {
    &__container {
      background-color: transparent;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      text-align: center;
    }
    &__descr {
      text-align: center;
      max-width: 300px;
    }
    &__form {
      display: flex;
      justify-content: center;

    }
    &__list {
      max-width: 239px;
    }
    &__item {
      grid-column: span 12;
    }
    &__label--checkbox {
      font-size: 10px;
    }
  }
}