@use '_variables' as *;
@use '_mixins' as *;

.reviews {
  margin-top: -44px;
  padding-top: 65px;
  border-radius: 15px 15px 0 0;
  background-color: $gram-s-hair;
  box-shadow: 0px -19px 18.6px 0px rgba(0, 0, 0, 0.05);
  &__container {
    padding-bottom: 50px;
  }
  &__title {
    margin-bottom: 20px;
    text-align: center;
    span {
      color: $qing-dynasty-dragon;
    }
  }
  &__descr {
    margin-bottom: 17px;
    text-align: center;
  }
  &__slider-container {
    position: relative;
    z-index: 0;
  }
  &__slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &__swiper-wrapper {
    display: flex;
  }
  &__slide {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    min-height: 332px;
    height: auto;
    border-radius: 10px;
    border: 1px solid $cool-frost;
  }
  &__avatar-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__avatar img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
  &__slide-descr {
    margin-bottom: 40px;
    @include text-style(14px, 100%, 400, $black);
  }
  &__link-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  &__link {
    padding: 5px;
    @include text-style(12px, 100%, 400, $white);
  }
  &__link--more {
    @include text-style(12px, 100%, 400, rgba($black, 0.6));
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
    @media (min-width: 1024px) {
      &:hover {
        color: $qing-dynasty-dragon;
      }
    }
    &:active {
      color: $qing-dynasty-dragon;
    }
    &:focus-visible {
      color: $qing-dynasty-dragon;
      outline: none;
    }
  }
  &__button-prev {
    left: -50px;
  }
  &__button-prev svg,
  &__button-next svg {
    width: 15px;
    height: 26px;
  }
  &__button-next {
    right: -50px;
  }
}

@media (max-width: 1279px) {
  .reviews {
    padding-top: 50px;
    &__avatar-container {
      margin-bottom: 15px;
    }
    &__avatar img {
      width: 30px;
      height: 30px;
    }
    &__descr {
      margin-bottom: 30px;
    }
    &__slide-descr {
      margin-bottom: 10px;
      font-size: 12px;
      display: -webkit-box;
      -webkit-line-clamp: 7; /* Ограничиваем количество строк */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__link-container {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    &__slide  {
      min-height: 249px;
    }
    &__link {
      font-size: 10px;
    }
  }
}

@media (max-width: 767px) {
  .reviews {
    padding-top: 30px;
    &__avatar-container {
      margin-bottom: 15px;
    }
    &__avatar img {
      width: 30px;
      height: 30px;
    }
    &__slide-descr {
      margin-bottom: 10px;
      font-size: 12px;
    }
    &__link-container {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    &__button-prev {
      left: 0;
    }
    &__button-next {
      right: 0;
    }
    &__slider-container {
      padding-left: 30px;
      padding-right: 30px;
    }
    &__slide  {
      min-height: 183px;
    }
  }
}
